{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "templateStrings": true,
    "classes": true
  },
  "rules": {
    "prefer-const": 2,
    "no-const-assign": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "quotes": [2, "single", "avoid-escape"],
    "prefer-template": 2,
    "no-param-reassign": 2,
    "prefer-arrow-callback": 2,
    "arrow-spacing": [2, { "before": true, "after": true }],
    "no-iterator": 2,
    "dot-notation": 2,
    "one-var": [2, "never"],
    "eqeqeq": [2, "smart"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "indent": [2, 2, {"SwitchCase": 1}],
    "space-before-blocks": 2,
    "space-after-keywords": 2,
    "space-before-keywords": 2,
    "space-infix-ops": 2,
    "padded-blocks": [2, "never"],
    "space-in-parens": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "max-len": [1, 100, 2],
    "comma-style": [2, "last"],
    "comma-dangle": [2, "always-multiline"],
    "semi": 2,
    "camelcase": [2, {"properties": "always"}],
    "no-underscore-dangle": 2,
  },
  "env": {
    "node": true
  }
}
